<div *ngFor="let message of messages">
    <i>{{ message.userMessage }}</i>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
      <input id="userMessage" type="text" formControlName="userMessage">
    </div>
  
    <button class="button" type="submit">Send</button>
  
  </form>